Problem with acme_certificate and pending authorizations


##### SUMMARY
acme_certificate returns wrong challange_data when there is pending authorizations.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
acme_certificate

##### ANSIBLE VERSION
<!--- Paste verbatim output from "ansible --version" between quotes -->
```
ansible 2.9.7
  config file = /usr/local/etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/local/share/py37-ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.7.7 (default, Mar 21 2020, 01:20:51) [Clang 8.0.1 (tags/RELEASE_801/final 366581)]
```

##### CONFIGURATION
<!--- Paste verbatim output from "ansible-config dump --only-changed" between quotes -->
```
CACHE_PLUGIN(/usr/local/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/usr/local/etc/ansible/ansible.cfg) = /usr/local/etc/ansible/cache
DEFAULT_GATHERING(/usr/local/etc/ansible/ansible.cfg) = smart
DEFAULT_MANAGED_STR(/usr/local/etc/ansible/ansible.cfg) = Ansible managed: {file}
RETRY_FILES_ENABLED(/usr/local/etc/ansible/ansible.cfg) = False
```

##### OS / ENVIRONMENT
FreeBSD 12.1-RELEASE-p3

##### STEPS TO REPRODUCE
If you have pending authorizations acme_certificate will populate challange_data and challenge_data_dns with the wrong authorization tokens.

##### EXPECTED RESULTS
When I use the acme_certificate module I would expect that it picks up the pending authorizations and puts that into the challenge data. 
##### ACTUAL RESULTS
But what actually happens is that in for example challenge_data_dns there is some other challange/token that is not the one needed to satisfy the pending challenge.

```json
  "authorizations": {
        "domain.tld": {
            "challenges": [
                {
                    "status": "pending",
                    "token": "Y0wM-Yk9p7h7-fhcX_JW7w-8OcZfSWjetMBVqNrBP3E",
                    "type": "http-01",
                    "url": "https://acme-v02.api.letsencrypt.org/acme/chall-v3/XXX/YYY"
                },
                {
                    "status": "pending",
                    "token": "Y0wM-Yk9p7h7-fhcX_JW7w-8OcZfSWjetMBVqNrBP3E",
                    "type": "dns-01",
                    "url": "https://acme-v02.api.letsencrypt.org/acme/chall-v3/XXX/YYY"
                },
                {
                    "status": "pending",
                    "token": "Y0wM-Yk9p7h7-fhcX_JW7w-8OcZfSWjetMBVqNrBP3E",
                    "type": "tls-alpn-01",
                    "url": "https://acme-v02.api.letsencrypt.org/acme/chall-v3/XXX/YYY"
                }
            ],
            "expires": "2020-06-14T08:13:32Z",
            "identifier": {
                "type": "dns",
                "value": "domain.tld"
            },
            "status": "pending",
            "uri": "https://acme-v02.api.letsencrypt.org/acme/authz-v3/ZZZ"
        }


    "challenge_data": {
        "domain.tld": {
            "dns-01": {
                "record": "_acme-challenge.domain.tld",
                "resource": "_acme-challenge",
                "resource_value": "v-KF4L82VV62Qgl9wu_o_BOhxGNofDTFOQ14arL2oSA"
            },
            "http-01": {
                "resource": ".well-known/acme-challenge/Y0wM-Yk9p7h7-fhcX_JW7w-8OcZfSWjetMBVqNrBP3E",
                "resource_value": "Y0wM-Yk9p7h7-fhcX_JW7w-8OcZfSWjetMBVqNrBP3E.XLHcLBBIo8tXZnWtqHvUSiZue2EWMmONdiJTTUWBIME"
            },
            "tls-alpn-01": {
                "resource": "domain.tld",
                "resource_original": "dns:domain.tld",
                "resource_value": "v+KF4L82VV62Qgl9wu/o/BOhxGNofDTFOQ14arL2oSA="
            }
        },
    "challenge_data_dns": {
        "_acme-challenge.domain.tld": [
            "v-KF4L82VV62Qgl9wu_o_BOhxGNofDTFOQ14arL2oSA"
        ],
```


I'm not sure exactly what you mean here. On a first glance, the data returned by the module looks good to me. (And so far the module worked fine for me.) What exactly do you think is wrong here?

The problem is that acme gives me a challenge of for example "Y0wM-Yk9p7h7-fhcX_JW7w-8OcZfSWjetMBVqNrBP3E" but returns "v-KF4L82VV62Qgl9wu_o_BOhxGNofDTFOQ14arL2oSA" in `challenge_data_dns`. Making me put the wrong token i DNS.

Please read section 8.4 of RFC8555 (https://tools.ietf.org/html/rfc8555#section-8.4). The token value returned is **not** what you should put in DNS. Instead, you have to compute `SHA256(keyAuthorization(token))` and put the Base64 encoded value of **that** into DNS. That's what the module is returning for you.

(For `keyAuthorization()`, see section 8.1 of RFC8555.)

I'm closing this since it doesn't seem to be a bug, but a misunderstanding.