ACME pre-authorization support

<!--- Verify first that your feature was not already discussed on GitHub -->
<!--- Complete *all* sections as described, this form is processed automatically -->

##### SUMMARY
<!--- Describe the new feature/improvement briefly below -->
Provide a module that supports ACME pre-authorization as described in [RFC8555§7.4.1](https://www.rfc-editor.org/rfc/rfc8555#section-7.4.1), including subdomain pre-authorization as described in [RFC9444§4.2](https://www.rfc-editor.org/rfc/rfc9444#name-pre-authorization)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
<!--- Write the short name of the module, plugin, task or feature below, use your best guess if unsure -->
`community.crypto.acme_pre_authz`

##### ADDITIONAL INFORMATION
<!--- Describe how the feature would be used, why it is needed and what it would solve -->
ACME pre-authorization allows one to perform the authorization step (challenge validation) up-front, separate from the actual certificate order. DNS appliances often have limited granularity in their access control, requiring extensive permissions in order to be able to create DNS records. In order to avoid having to distribute these credentials across all hosts that need to order certificates, ACME pre-authorization allows you to centralize and isolate the challenge validation completely from the certificate ordering process. 

<!--- Paste example playbooks or commands between quotes below -->
```yaml
  - name: Pre-authorize domain
    community.crypto.acme_pre_authz:
      account_key_content: "{{ ... }}"
      domain: example.com
      subdomain_auth_allowed: True
```

<!--- HINT: You can also paste gist.github.com links for larger files -->


Out of curiosity, which ACME providers actually support this? It's not supported by Let's Encrypt and also not by Pebble, to my knowledge. Having something that can easily be self-hosted (like Pebble) so we can actually test this in CI would be great.

EJBCA supports pre-authorization without the RFC9444 part, but I guess that's not exactly light-weight 😅 